<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.saletrak.wypokplus">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark.NoActionBar">
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity">
        </activity>
        <activity android:name=".activities.AboutActivity">
        </activity>
        <activity android:name=".activities.UserActivity">
        </activity>
        <activity android:name=".activities.TagActivity">
        </activity>
        <activity android:name=".activities.EntryActivity">
        </activity>
    </application>

</manifest>